# PRIVATE KEYS
PRIVATE_KEY = 

# RPC URLS
ETH_RPC_URL =
HOLESKY_RPC_URL =
SEPOLIA_RPC_URL =
BSC_RPC_URL =
BSC_TESTNET_RPC_URL =
ARBITRUM_RPC_URL =
BASE_RPC_URL =
POLYGON_RPC_URL =
AVALANCHE_RPC_URL =
OPTIMISM_RPC_URL =
MANTLE_RPC_URL =
XLAYER_RPC_URL =
CORE_RPC_URL =
IMMUTABLE_RPC_URL =
BERA_RPC_URL =
SONIC_RPC_URL =
MANTA_RPC_URL =
ZKSYNC_RPC_URL =
ABSTRACT_RPC_URL =
KAIA_RPC_URL =
OASIS_SAPPHIRE_RPC_URL =
BLAST_RPC_URL =

# API KEYS
ETH_API_KEY =
BSC_API_KEY =